header {
    width: 100%;
    position: fixed;
    top: 0;
    margin-left: 630px;
    z-index: 100;
}

nav {
    display: inline-block;
}
li {
    display: inline-block;
    margin-right: 500px;
} 

nav, li {
    vertical-align: middle;
}
li a {
    color: black;
    font-size: 20px;
}

.myicon {
    font-size: 30px;
    color: gray;
    transition: 0.5s;
}

.myicon:hover {
    font-size: 40px;
    color: black;
}

.photo {
    width: 1000px;
    height: 500px;
}

h4 {
    font-size: 23px;
}

.card-1, .card-2, .card-3, .card-4, .card-5, .card-6 {
    display: inline-block;
    margin-left: 50px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    vertical-align: top;
}
.card1, .card2 {
	margin-right: 36px;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
    width: 100%;
    margin-bottom: 68px;
}

.card-4, .card-1 {
    margin-left: 600px;
}

p {
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 20px;
	color: #8A8787;
	width: 70%;
	margin-bottom: 12px;
	margin-left: 10px;
}